@import "../variables.modules";

nav {
  transition: $transition;
  a span{
    font-size:2rem;
    font-weight:bold;
    background-image:-webkit-linear-gradient(50deg, $purple, $yellow);
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style:groove;
    padding: 0 0.4rem 0.4rem;
  }
}

.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}